@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans", sans-serif;
    color: rgb(221, 221, 221);
}

body {
    background-color: #13191B;
}

header {
    background-color: #13191B;
    opacity: 80%;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

header img {
    width: 90px;
}


#active {
    color: #F05553;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
}



.button {
    background-color: #D62D2B;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    font-size: 18px;
    color: rgb(207, 207, 207);
    transition: .5s;
    cursor: pointer;
}

.button:hover{
    background-color: #db4340;
    transition: .5s;
}


.block {
    margin-bottom: 20px;
}



.anchor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

.anchor1 {
    margin-top: 1000px;
    display: flex;
    flex-direction: column;
}

.anchor1 a {
    background-color: #D62D2B;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .5s;
    border-radius: 6px;
    margin-top: 5px;
}

.anchor1 a:hover{
    background-color: #db4340;
    transition: .5s;
}



















footer {
    margin-top: 20px;
    width: 100%;
    background-color: #202729;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer img {
    max-height: 300px;
}